* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: grid;
  place-items: center;
  background-color: #F0F0F0;
  height: 100vh
}

.App__wrapper {
  display: flex;
  background-color: #ededed;
  height: 90vh;
  width: 700px;
  max-width: 90vw;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.5);
}