* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: grid;
  place-items: center;
  min-height: 100vh;

}

.App__wrapper {
  display: flex;
  background-color: #ededed;
  height: 90vh;
  width: 800px;
  max-width: 90vw;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.5);
  position: relative;

}

.App__wrapper>a {
  width: auto;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 1000px) {
  .App__wrapper {
    flex-direction: column;
  }
}